* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

header p {
  font-size: 1.25rem;
}

main {
  border-top: 8px solid hsl(0deg, 0%, 40%);
  background-color: hsl(0deg, 0%, 60%);
  padding: 48px 16px;
}

.max-width-wrapper {
  max-width: 580px;
  margin: 0 auto;
  padding-inline-start: 16px;
}

.intro-chunk {
  padding: 32px 16px;
  max-width: 400px;
}

.title {
  padding-bottom: 24px;
}

.card {
  background-color: hsl(0deg, 0%, 100%);
  padding: 8px 16px;
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
}

.indented-heading {
  box-sizing: inline-block;
  width: fit-content;
  margin-top: 0px;
  margin-left: -48px;
  padding: 24px 48px;
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
}

strong {
  color: hsl(160deg, 100%, 30%);
}

@media (max-width: 767px) {
  .intro-chunk {
    padding: 32px 16px;
    max-width: 300px;
  }

  main {
    padding: 48px 0px;
  }

  .max-width-wrapper {
    margin: 0;
    padding: 0;
  }

  .card {
    padding: 8px 0px;
  }

  .indented-heading {
    margin: 0;
    padding: 24px 24px 24px 16px;
  }

  main p {
    padding: 0 16px;
  }
}
